<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
      </div>
    </div>

    <h2><span class="glyphicon glyphicon-sort"></span>{{pageTitle}}</h2>
    <p>Selected country: Romania (ROU)</p>
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let element"> {{element.nodeId}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="nodeName">
          <th mat-header-cell *matHeaderCellDef> League Node Name </th>
          <td mat-cell *matCellDef="let element"> {{element.nodeName}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="options">
          <th mat-header-cell *matHeaderCellDef> Options </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="showDetails(element)">
                <mat-icon>search</mat-icon>Details
            </button>
          </td>
        </ng-container>
      
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
</main>
